{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
  </head>

<body class="about">


<h1>About Las Vegas</h1>
<hr />
<p>Las Vegas, often known simply as Vegas, is the 26th-most populous city in the United States, the most populous city in the state of Nevada, and the county seat of Clark County. The city anchors the Las Vegas Valley metropolitan area and is the largest city within the greater Mojave Desert. </p>
<br />

<h4>What is Vegas best known for?</h4>
<hr />

<p>Las Vegas is known for its casinos and world-class entertainment, but those are just two things to do in a city filled with attractions. On the Strip, you can take a spin on the world's largest observation wheel, the High Roller, ride on a Venetian gondola or watch the iconic Fountains of Bellagio.</p>
</br>

<h4>Why this APP?</h4>
<hr />
<p>This App is to help people who plan who visit Las Vegas to keep track of which hotel and when their meal was made during the trip, or for people who already visited and recll their memory!</p>

</body>
</html>
{% endblock %}