
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.left.brand-logo {
    padding-left: 20px;
}

main {
    flex: 1 0 auto;
  }
  

footer {
    padding-top: 0;
    text-align: right;
  }

h1, h4{
  text-align: center;
  color: white;
}

.home {
  background-image: url('https://i.imgur.com/i2vwyVt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.about {
  background-image: url('https://i.imgur.com/i2vwyVt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2{
  text-align: center;
  color: black;
  
}